SECRET_KEY='django-insecure%0^!bih31j+#y*#*hui)w7nzpys&^2#!-ta#z#_p$9s6i=u%4n'
DEBUG=True
CLOUDINARY_SECRET='Rz11LKp2r043ufe6d8KODeI1qb0'
CLIENTR_ID='4xulCmaS0K8S114ggVd5QY2wN37P8JDSo3lJNqsd'
CLIENT_SECRET='ODG4BLmqcGobhxIjZuyrEcwRn5RYh0tKvElkaDBpspINLQGnCcLPnvL4y2OzJWLItcVgsT1NTPekTYGnrSP8qquKseg4GG5ajulrqno9BvIZaqk4INTGwU2qnkPNNGrA'